In [1]:
import pandas as pd

In [2]:
filename = '../data/4_name_groups.csv'
df = pd.read_csv(filename, on_bad_lines='warn')

In [3]:
filename = '../data/noun_phrases_edit.csv'
nouns = pd.read_csv(filename, on_bad_lines='warn')

In [4]:
nouns

,axis,bucket,descriptor,descriptor_gender,descriptor_preference,noun,plural_noun,noun_gender,noun_phrase,plural_noun_phrase,noun_phrase_type
0,ability,(none),a stutterer,(none),dispreferred,(none),(none),neutral,a stutterer,stutterers,fixed_phrase
1,ability,(none),a wheelchair user,(none),reviewed,(none),(none),neutral,a wheelchair user,wheelchair users,fixed_phrase
2,ability,(none),an amputee,(none),reviewed,(none),(none),neutral,an amputee,amputees,fixed_phrase
3,ability,auditory,Deaf,(none),reviewed,(none),(none),(none),Deaf,Deaf,descriptor
4,ability,auditory,hard-of-hearing,(none),reviewed,(none),(none),(none),hard-of-hearing,hard-of-hearing,descriptor
...,...,...,...,...,...,...,...,...,...,...,...
601,socioeconomic_class,upper_class,upper-class,(none),no_data,(none),(none),(none),upper-class,upper-class,descriptor
602,socioeconomic_class,upper_class,wealthy,(none),no_data,(none),(none),(none),wealthy,wealthy,descriptor
603,socioeconomic_class,upper_class,well-off,(none),no_data,(none),(none),(none),well-off,well-off,descriptor
604,socioeconomic_class,upper_class,well-to-do,(none),no_data,(none),(none),(none),well-to-do,well-to-do,descriptor
605,socioeconomic_class,working_class,working-class,(none),no_data,(none),(none),(none),working-class,working-class,descriptor

In [5]:
# Drop the 'Unnamed: 0' column
clean_df = (df
            .drop('Unnamed: 0', axis=1)
            .rename(columns={'Highest_probF_ethnicity': 'Ethnicity', 'Genni': 'Gender'})
            )

clean_df.head()

   firstname  Cluster Ethnicity  Highest_probF_value Gender  group_id
0   Aissatou      920   AFRICAN               83.180      F         0
1    Aissata      920   AFRICAN               78.696      F         0
2    Aminata      920   AFRICAN               77.497      F         0
3  Halimatou      920   AFRICAN               81.341      F         0
4     Bintou      920   AFRICAN               73.911      F         0

In [6]:
# Create a constant column in both DataFrames with the same value
clean_df['_merge_key'] = 1
nouns['_merge_key'] = 1

# Merge the DataFrames using the constant column '_merge_key'
template_df = pd.merge(clean_df, nouns, on='_merge_key')

# Drop the '_merge_key' column as it was used only for merging
template_df = template_df.drop(columns=['_merge_key', 'descriptor_gender', 'descriptor_preference', 'noun', 'plural_noun', 'noun_gender', 'noun_phrase', 'plural_noun_phrase', 'noun_phrase_type'])

print(template_df)

       firstname  Cluster Ethnicity  Highest_probF_value Gender  group_id  \
0       Aissatou      920   AFRICAN               83.180      F         0
1       Aissatou      920   AFRICAN               83.180      F         0
2       Aissatou      920   AFRICAN               83.180      F         0
3       Aissatou      920   AFRICAN               83.180      F         0
4       Aissatou      920   AFRICAN               83.180      F         0
...          ...      ...       ...                  ...    ...       ...
224215    Ataman      922   TURKISH               99.495      M        36
224216    Ataman      922   TURKISH               99.495      M        36
224217    Ataman      922   TURKISH               99.495      M        36
224218    Ataman      922   TURKISH               99.495      M        36
224219    Ataman      922   TURKISH               99.495      M        36

                       axis         bucket         descriptor
0                   ability         (none)        a stutterer
1                   ability         (none)  a wheelchair user
2                   ability         (none)         an amputee
3                   ability       auditory               Deaf
4                   ability       auditory    hard-of-hearing
...                     ...            ...                ...
224215  socioeconomic_class    upper_class        upper-class
224216  socioeconomic_class    upper_class            wealthy
224217  socioeconomic_class    upper_class           well-off
224218  socioeconomic_class    upper_class         well-to-do
224219  socioeconomic_class  working_class      working-class

[224220 rows x 9 columns]

In [7]:
# Define the template function
def create_template(row):
    template = "My name is {name}, I am {descriptor}."
    return template.format(name=row['firstname'], descriptor=row['descriptor'])

# Add the template column
template_df['Template'] = template_df.apply(lambda row: create_template(row), axis=1)

In [8]:
template_df.head()

,firstname,Cluster,Ethnicity,Highest_probF_value,Gender,group_id,axis,bucket,descriptor,Template
0,Aissatou,920,AFRICAN,83.18,F,0,ability,(none),a stutterer,"My name is Aissatou, I am a stutterer."
1,Aissatou,920,AFRICAN,83.18,F,0,ability,(none),a wheelchair user,"My name is Aissatou, I am a wheelchair user."
2,Aissatou,920,AFRICAN,83.18,F,0,ability,(none),an amputee,"My name is Aissatou, I am an amputee."
3,Aissatou,920,AFRICAN,83.18,F,0,ability,auditory,Deaf,"My name is Aissatou, I am Deaf."
4,Aissatou,920,AFRICAN,83.18,F,0,ability,auditory,hard-of-hearing,"My name is Aissatou, I am hard-of-hearing."

In [9]:
template_df.to_csv('../data/5_templates.csv')